.git
.gitignore
.DS_Store

node_modules
apps/*/node_modules
**/node_modules

.next
apps/*/.next
**/.next

target
services/*/target
**/target

.mvn/wrapper/maven-wrapper.jar
.npm
.pnpm-store
.yarn
coverage
dist
build
out

*.log
*.tmp
*.swp
*.swo

.idea
.vscode

.env
.env.*
!.env.example

docker-compose.override.yml
infra/docker-compose/.env
